backend
database
frontend
node_modules
.vscode
obfuscate.js
package-lock.json
package.json
*.backup
**/*.backup
obfuscate-html.js
welcome.html/
dashboard.html/
js/
style/
auth.html/
premium.html
assets/

