backend
database
frontend
node_modules
.vscode
obfuscate.js
package-lock.json
package.json
*.backup
**/*.backup
obfuscate-html.js
style/
js/
assets/
auth.html/
dashboard.html/
login.html
premium.html
welcome.html
